.text{
    font-weight:bolder;
    color:brown;
    text-align:center;
    text-decoration:underline;
}

.text:hover{
    color:blue;
}

.techuse{
    text-align: center;
    text-transform: uppercase;
    text-align: center;


}

.techuse:hover{
    animation-direction: left;
    color: antiquewhite;

}