.head{
    color: grey;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;

}

.navigation{
    color: aqua;
    font-size: large;
    font-weight: 800;
}